<div id="secondaryList" class="i2kwCh7">
        <header class="A2Ulbf0">
                <div class="lNEanAL">
                        <h3 id="secondaryRefinementsTitle" class="fnxb0qp OWEQPt4"><button id="backToPrimaryRefinements"
                                        class="AzrWeUT">Product Type</button></h3><button data-auto-id="all"
                                class="z5uW67q">ALL</button>
                </div><input type="search" placeholder="Search" aria-label="Search" class="LYG4Zpk" value=""><span
                        class="_hmcxRo URaEgIX"></span>
        </header>
        <div class="YLSaOYj LIm8yKh">
                <div class="n1JghHR">
                        <div>
                                <ul class="uaCBcfG">
                                        <li class="n7QgWZQ">
                                                <div class="IHqdgEA" data-auto-id="refinementItem"><input
                                                                type="checkbox" class="FkgLhmj" id="attribute_1047_8401"
                                                                value="8401"><label class="RBk0jZ9 T4OJ1WR"
                                                                for="attribute_1047_8401">
                                                                <div class="hLBn89t">Jackets<span class="DUTKqTf"
                                                                                data-auto-id="refinementItemCount">(21)</span>
                                                                </div>
                                                        </label></div>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
        <footer class="hhTFyoY"><button id="viewUpdatedItems" class="aElvFzH">View items</button></footer>
</div>