*:focus {
    outline: 0px none transparent;
  }
  
  #output {
    max-width: 330px;
    overflow: hidden;
  }
  
  fieldset {
    position: relative;
    margin-bottom: 28px;
  }
  
  .validation:before {
    content: "";
    left: 23px;
    position: absolute;
    top: -12px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 12px solid #d01345;
    height: 0;
    width: 0;
    transform: rotate(360deg);
  }
  
  .validation:after {
    content: "";
    left: 24px;
    position: absolute;
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fae7ec;
    height: 0;
    width: 0;
    transform: rotate(360deg);
  }
  
  .validation {
    color: #2d2d2d;
    float: left;
    width: 330px;
    top: inherit;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 15px;
    background: #fae7ec;
    margin-top: 7px;
    border: 1px solid #d01345;
    position: relative;
  }
  
  legend,
  label {
    display: block;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 14px;
    font-weight: 700;
    padding-bottom: 12px;
    font-size: 0.875rem;
    text-align: left;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="text"] {
    padding: 0.688rem 11px;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    padding: 10px 18px;
    color: #2d2d2d;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0;
    width: 100%;
  }
  
  input:focus,
  select:focus {
    border: 1px solid #0770cf;
    box-shadow: #0770cf 0 0 2px;
  }
  
  #cardCodeFieldset {
    margin-bottom: 0;
  }
  
  #cardCodeLabel {
    display: block;
  }
  
  #cardCode {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='20' height='14' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 3h20v14H0z'/%3E%3Cmask id='c' x='0' y='0' width='20' height='14' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath id='b' d='M7 8h12v8H7z'/%3E%3Cmask id='d' x='0' y='0' width='12' height='8' fill='%23fff'%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3C/defs%3E%3Cg transform='translate(0 -3)' fill='none' fill-rule='evenodd'%3E%3Cpath opacity='.5' d='M0 0h20v20H0z'/%3E%3Cuse stroke='silver' mask='url(%23c)' stroke-width='4' xlink:href='%23a'/%3E%3Cpath fill='silver' d='M1 6h19v4H1z'/%3E%3Cuse stroke='%23F6402B' mask='url(%23d)' stroke-width='2' fill='%23FFF' xlink:href='%23b'/%3E%3C/g%3E%3C/svg%3E");
    width: 130px;
    float: left;
    display: block;
  }
  
  .card-on-file-payment #cardCode {
    border: 2px solid #0770cf;
  }
  
  #expiryDateFieldset label .labelText {
    width: 0px;
    overflow: hidden;
    text-indent: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  
  #expiryDateFieldset label {
    padding: 0;
    margin: 0;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #777;
    border-radius: 0;
    color: #2d2d2d;
    font-size: 16px;
    height: 44px;
    padding: 0.688rem 11px;
    width: 140px;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0;
    display: inline-block;
    cursor: pointer;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  #expiryDateFieldset {
    margin-bottom: 28px;
  }
  
  #expiryDateFieldset > div {
    position: relative;
    float: left;
    margin: 0 9px 0 0;
  }
  
  #expiryDateFieldset > div:after {
    content: "";
    pointer-events: none;
    width: 34px;
    height: 44px;
    position: absolute;
    top: 2px;
    right: 10px;
    background-image: url(../img/dropdown-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
  
  #expiryYear {
    width: 100px;
  }
  
  .invalid select,
  .invalid input {
    border-color: #d01345;
  }
  .card-scheme-image {
    position: absolute;
    right: 16px;
    top: 25%;
    width: 32px;
    height: auto;
}
#pci-secure-form-container label::after {
    content: none;
}
.validation {
    display: none;
}
.input-field-wrapper {
    position: relative;
}