.styles-module_typographyHeaderUppercase__3UaRd {
    text-transform: uppercase;
}
.styles-module_typographyHeader__1KAyb {
    display: inherit;
    margin: 0;
}
.london2 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .6px;
    line-height: 22px;
}
._1yPBVv-fMGIaAPPpQqkiy3 {
    display: flex;
    padding-top: calc(4 * 4px);
}
.xWt_ziCq0MPnXvniUVbFJ {
    padding-right: calc(6 * 4px);
}
.london3-button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 16px;
}
._1o0x_Q8g6F8iY5JkRrTorZ {
    max-width: 330px !important;
}
.button-module_button__LoxGZ {
    --icon-height: 20px;
    --secondary-border-width: 2px;
    --small-horizontal-padding: 8px;
    --horizontal-padding: 16px;
    --small-vertical-padding: 6px;
    --medium-vertical-padding: 8px;
    --max-width: 510px;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-grid;
    display: flex;
    font-weight: 700;
    justify-content: center;
    max-width: var(--max-width);
    padding: var(--medium-vertical-padding) var(--horizontal-padding);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button-module_small__d-9E5 {
    height: 32px;
    min-width: 126px;
}
.button-module_tertiary__ilY3X {
    background: var(--1wwppwc);
    color: var(--11lcxa5);
}
._1yPBVv-fMGIaAPPpQqkiy3 button {
    align-self: flex-start;
}
.leavesden2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 22px;
}
.button-module_content__jG0if {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.styles-module_horizontalRule__ZuY1y {
    --background: var(--na3s62);
    --rule-height: 1px;
    --default-overspill: -8px;
    --large-overspill: -12px;
    height: var(--rule-height);
    line-height: var(--rule-height);
    position: relative;
}
.styles-module_horizontalRule__ZuY1y.styles-module_overspill__GXn5i:before {
    left: var(--default-overspill);
    right: var(--default-overspill);
}
.styles-module_horizontalRule__ZuY1y:before {
    background-color: var(--background);
    content: "";
    display: block;
    height: var(--rule-height);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
._1cOd8A9FmYE0khcsdQD30a {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 960px) {
    ._1cOd8A9FmYE0khcsdQD30a {
        align-content: stretch;
        flex-flow: row nowrap;
        justify-content: space-between;
    }    
}
._1ymzkpbaAqb46aFuiSCWKK {
    padding-left: calc(4 * 4px);
    width: calc(100% - 113 * 1px);
    margin-top: 20px;
}
@media (min-width: 720px) {
    ._1ymzkpbaAqb46aFuiSCWKK {
        padding-left: calc(6 * 4px);
    }
}
@media (min-width: 960px) {
    ._1ymzkpbaAqb46aFuiSCWKK {
        padding: 0 0 0 calc(6 * 4px);
        width: 100%;
    }
}
.DyC_aEN18O7SS__3PGQd3 {
    display: block;
    width: calc(113 * 1px);
}
@media (min-width: 960px) {
    .DyC_aEN18O7SS__3PGQd3 {
        flex-shrink: 0;
        float: none;
    }
}
.j_YZXSU_kbEMaR9vx8I6- {
    width: 100%;
    display: block;
    height: auto;
}
._36NOpQ3hHb7sxoeRB5xrdR {
    margin-bottom: calc(2 * 4px);
}
.leavesden2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 22px;
    margin-bottom: 30px;
}
.london3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
}
.styles-module_typographyHeader__1KAyb {
    display: inherit;
    margin: 0;
}
.styles-module_typographyHeaderUppercase__3UaRd {
    text-transform: uppercase;
}
@media (min-width: 960px) {
    ._1beQwUAhKbTUkvu6IntWbX {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}
._1N3qgwgmiHoW7gbJtOiB0z {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
._3jn3KRJVpcekZ4kTOzxs70 {
    display: inline-block;
    margin-right: calc(8 * 4px);
}
@media (min-width: 960px) {
    ._3jn3KRJVpcekZ4kTOzxs70 {
        display: block;
        margin-bottom: 0;
    }
}
.styles-module_label__33Iwc {
    --background: var(--3pchel);
    --border: var(--10c6hzt);
    --focus-border: var(--1cf22is);
    box-sizing: content-box;
    display: block;
    max-width: 330px;
    position: relative;
}
.styles-module_checkboxInput__-0kTO, .styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:before {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 24px;
}
.styles-module_checkboxInput__-0kTO {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 transparent;
    margin: 0;
}
.styles-module_labelText__3LEwt {
    cursor: pointer;
    display: inline-block;
    line-height: 2.4rem;
    margin-left: 36px;
    vertical-align: middle;
}
.styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:before {
    background-color: var(--background);
    border: 1px solid var(--border);
    content: "";
    display: block;
}
.styles-module_checkboxInput__-0kTO, .styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:before {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 24px;
}
._3jn3KRJVpcekZ4kTOzxs70 {
    padding-left: 16px;
    padding-top: 24px;
}
@media (min-width: 640px) {
    ._3jn3KRJVpcekZ4kTOzxs70 {
        padding-top: 24px;
        padding-left: 24px;
    }
}
@media (min-width: 720px) {
    ._3jn3KRJVpcekZ4kTOzxs70 {
        padding-top: 24px;
        padding-left: 24px;
    }
}
@media (min-width: 960px) {
    ._3jn3KRJVpcekZ4kTOzxs70 {
        padding-top: 32px;
        padding-left: 32px;
    }
}
._3yrhJHeghdiONq9_dMgZsM {
    text-align: center;
}
.xuKOhB-mGPb_D5tGM-23F {
    padding-left: var(--average-spacing-mobile);
    padding-right: var(--average-spacing-mobile);
}
._3Kw4ZqAclqvFoBGRztFemq {
    justify-content: center;
    display: flex;
}
.button-module_button__LoxGZ {
    --icon-height: 20px;
    --secondary-border-width: 2px;
    --small-horizontal-padding: 8px;
    --horizontal-padding: 16px;
    --small-vertical-padding: 6px;
    --medium-vertical-padding: 8px;
    --max-width: 510px;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-grid;
    display: flex;
    font-weight: 700;
    justify-content: center;
    max-width: var(--max-width);
    padding: var(--medium-vertical-padding) var(--horizontal-padding);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button-module_fill-container__GvrkQ {
    width: 100%;
}
.button-module_large__CTCLc {
    height: 48px;
}
.button-module_primary__Vy8HB {
    background: var(--11lcxa5);
    color: var(--3pchel);
}
.button-module_content__jG0if {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.cardSectionStyles-module_topPadding__2-YuN {
    margin-top: 20px;
}
.styles-module_checkboxInput__-0kTO, .styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:before {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 24px;
}
.styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:before {
    background-color: var(--background);
    border: 1px solid var(--border);
    content: "";
    display: block;
}
.styles-module_checkboxInput__-0kTO+.styles-module_labelText__3LEwt:after {
    content: "";
    height: 13px;
    left: 4px;
    position: absolute;
    top: 6px;
    width: 16px;
}
.styles-module_checkboxInput__-0kTO:checked+.styles-module_labelText__3LEwt:after {
    -webkit-animation: styles-module_fadein__DUcY6 .2s;
    animation: styles-module_fadein__DUcY6 .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: var(--background) no-repeat center center url(../img/checked.svg);
}